* {
  margin: 0;
  padding: 0;
}

.body {
  height: 100vh;
}

.topBar {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  background-color: #0f2854;
  /* position: fixed; */
}

.signIn {
  padding: 10px;
  background-color: #1c4d8d;
  color: white;
  font-weight: bold;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  right: 10%;
  border: none;
}

.logo {
  position: relative;
  left: 10%;
  width: 100px;
}

.signInSection {
  text-align: center;
  position: relative;
  top: 190px;
  display: flex;
  justify-content: space-around;
}

.mainTopic {
  font-size: 55px;
  position: relative;
  bottom: 10px;
  color: #1c4d8d;
}

.subHeading {
  font-size: 20px;
}

.signIn2 {
  padding: 12px;
  background-color: #1c4d8d;
  color: white;
  font-weight: bold;
  width: 110px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  top: 20px;
  border: none;
}

.image {
  width: 400px;
  position: relative;
  bottom: 40px;
  right: 20px;
}
