* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./assets/Background\ image.jpg);
  display: flex;
  justify-content: center;
  align-content: center;
}

.topic {
  font-weight: bolder;
}

.registrationCard {
  width: 300px;
  background-color: aquamarine;
  padding: 30px;
  position: relative;
  border-radius: 20px;
  top: 40%;
}

.form {
  padding-top: 20px;
  padding-bottom: 20px;
}

input {
  padding: 5px;
  margin: 5px;
  width: 80%;
}

select {
  padding: 5px;
  margin: 5px;
  width: 84%;
}

.forgetP {
  text-align: right;
}

.rButn {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: lightblue;
  color: black;
  font-weight: bolder;
  cursor: pointer;
  margin: 5px;
}

.newAccLink {
  margin: 10px;
  text-align: center;
}
